<div class="zona-inferior">
  <div class="sello-digital-container">
    <img src="shizzosello.jpeg" alt="Sello" class="sello-digital">
  </div>
  <div class="firma">
    <img src="shizzologomini.jpeg" alt="Logo" class="logomini">
    <img src="firmaDigitalJulioMundarai.jpeg" alt="Firma" class="firma-img">
  </div>
</div>

<footer class="footer">
  <div class="direccion">C/ Huáscar Tejeda #9, Higüey, La Altagracia, República Dominicana</div>
  <div class="pagina">Página {{ pagina_num }} / {{ total_paginas }}</div>
</footer>