<div class="zona-inferior pagina-normal">
    <div class="sello-digital-container normal">
      <img src="shizzosello.jpeg" alt="Sello" class="sello-digital normal">
    </div>
    <div class="logomini-container normal">
      <img src="shizzologomini.jpeg" alt="Logo" class="logomini normal">
    </div>
  </div>
<footer class="footer">
  <div class="direccion">C/ Huáscar Tejeda #9, Higüey, La Altagracia, República Dominicana</div>
  <div class="pagina">Página {{ pagina_num }} / {{ total_paginas }}</div>
</footer>